<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Shop</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="/admin/add-product">Admin</a>
          </li>
          <li class="main-header__item"><a href="/shop">Shop</a></li>
          <li class="main-header__item">
            <a href="/contactus">Contact Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>All your products are here</h1>
      <ul>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
        <li>Product 4</li>
      </ul>
    </main>
  </body>
</html>
